ul{
    color: white;
    padding: 5px 5px 0px 5px;
    width:250px;
    height: 50px;
    list-style: none;
}
.green{
    background-color: green;
    margin-bottom: 5px;
}
.red{
    background-color: red;
    margin-bottom: 5px;
}
